* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.world {
	background-color: black;

	width: 100%;
	height: 100%;

	position: relative;
}

.MassObj {
	position: absolute;
	width: 2px;
	height: 2px;
	background-color: red;
	border-radius: 50%;
	top: 0;
	left: 0;
}

.debug {
	color: white;
	position: fixed;
	top: 0;
	left: 0;
	pointer-events: none;
}